# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
vehicle_market

# Build directories
obj/
bin/
build/

# IDE specific files
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters

# Windows specific
Thumbs.db
desktop.ini

# macOS specific
.DS_Store 